{% extends "projectlayout.html" %}

{% block title %}
    LOGGED IN
{% endblock %}

{% block body %}
    <h1 class="cursive" style="margin: 40px;">Welcome to MY PERSONAL DIARY</h1>
    <div class="outline yellow">
        <div class="leftfloat main trebuchet">
            In our relax page, find breathing exercises, recipes, mental exercises, and other activities to help you relax from your stressful day.
        </div>
        <div class="rightfloat trebuchet" style="font-size:35px; margin-left: 15px"><a class="nav-link" href="/relax">Relax</a></div>
    </div>
    <div class="outline blue">
        <div class="leftfloat main trebuchet">
            In our Daily Check Page, write into yours diary about ANYTHING you want and keep track of your mental/physical/emotional wellness.
        </div>
        <div class="rightfloat trebuchet" style="font-size:30px; margin-left: 2px"><a class="nav-link" href="/dailycheck">Daily Check</a></div>
    </div>
    <div class="outline purple">
        <div class="leftfloat main trebuchet">
            In our Diary page, reread and relive all your inputs and keep track of mental/physical/emotional wellbeing
        </div>
        <div class="rightfloat trebuchet" style="font-size:35px; margin-left: 15px"><a class="nav-link" href="/diary">Diary</a></div>
    </div>
{% endblock %}